skroflin-označiteljski/vježba10/note_kroflin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">
<xs:element name="poruka"> 
    <xs:complexType> 
    <xs:sequence>
    <xs:element name="za" type="xs:string"/> 
    <xs:element name="od" type="xs:string"/>
    <xs:element name="zaglavlje" type="xs:string"/>
    <xs:element name="tijelo" type="xs:string"/> 
    </xs:sequence> 
    </xs:complexType> 
    </xs:element>
    </xs:schema>    