Praktični rad 2/zadatakXML_kroflin.dtd

<!ELEMENT korisnik_knjižnice (korisnik+)>
<!ELEMENT korisnik (ime_prezime,ulica,mjesto_prebivališta,datum_rođenja*,zanimanje?,tekst)>
<!ELEMENT ime_prezime (#PCDATA)>
<!ELEMENT ulica (#PCDATA)>
<!ELEMENT mjesto_prebivališta EMPTY>
<!ATTLIST mjesto_prebivališta grad (Osijek|Vinkovci|Valpovo) #REQUIRED>
<!ELEMENT datum_rođenja (#PCDATA)>
<!ELEMENT zanimanje (#PCDATA)>
<!ELEMENT tekst (#PCDATA)>
<!ENTITY tekst "Popis korisnika knjižnice">