vježba9/catalog_kroflin2/catalog_prezime.dtd

<!ELEMENT catalog (book+)>
<!ELEMENT book (title,author,category,rating,year,reader*,years_of_reading)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT reader (#PCDATA)>
<!ELEMENT years_of_reading (#PCDATA)>
<!ATTLIST category class (fantasy | classic | biography) #REQUIRED>
<!ATTLIST rating number (1|2|3|4|5) "5">
<!ENTITY god "2022">
